@page "/"

 <!-- Header -->
    <header>
        <h3 class="ms-fontSize-42 ms-fontWeight-regular">Welcome to Blazor Calendar</h3>
        <p class="ms-fontSize-14 ms-fontWeight-regular">Blaozr Calendar allows you to manage all you events within your
            Outlook Calendar</p>

        <!-- NotAuthenticated Users-->
        <AuthorizeView>
            <NotAuthorized>
                   <p class="ms-fontSize-14 ms-fontWeight-regular">Please Sign in with your Micorosft Account to get started</p>
                    <a href="authentication/login" class="microsoft-login-button shadow-effect"><img src="assets/images/microsoft.png" alt=""> Sign in
                        with Microsoft</a>
            </NotAuthorized>
        </AuthorizeView>
</header>


<AuthorizeView>
    <Authorized>
 <div class="row">

        <!-- Calendar -->
        <div class="col-sm-12 col-md-12 col-lg-9">
            <Calendar>
                <DayTemplate Context="day">
                    @{
                        string currentDayClass = day.Date == DateTime.Now.Date ? "current-day" : "";
                        string selectedDayClass = day == selectedDay ? "selected-day" : "";
                    }
                    @if(!day.IsEmpty)
                    {
                        <div class="day shadow-effect @currentDayClass @selectedDayClass" @onclick="() => selectedDay = day">
                            <h3 class="ms-fontSize-24 ms-fontWeight-regular">@day.DayNumber</h3>
                            @if(day.Events != null && day.Events.Count != 0)
                            {
                                var firstEvent = day.Events.FirstOrDefault();
                                <div class="day-event @firstEvent.Color">
                                    @if(firstEvent.Subject.Length > 25)
                                    {
                                        @firstEvent.Subject.Substring(0, 25)<text>...</text>
                                    }
                                    else
                                    {
                                         @firstEvent.Subject
                                    }
                                </div>
                            }
                        </div>
                    }
                </DayTemplate>
            </Calendar>
       </div>


         <!-- Day Menu -->
        <div class="col-sm-12 col-md-12 col-lg-3">
            <AddEvent SelectedDay="@selectedDay" />

            <EventsList SelectedDay="@selectedDay" />
        </div>
 </div>

            </Authorized>
   </AuthorizeView>
@code 
{
    private CalendarDay selectedDay = new  CalendarDay
    {
        Date = DateTime.Now
    };

    protected override void OnInitialized()
    {
        AddEvent.OnEventAdded += () => 
        {
            StateHasChanged();
        };
    }

}